---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Comparte"/>

<main class="flex md:flex-row flex-col items-center justify-evenly w-screen">

    <div class="card card-compact bg-base-100 shadow-xl m-4 h-3/4">
        <figure>
            <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
            alt="Shoes" />
        </figure>
        <div class="card-body">
            <h2 class="card-title">Shoes!</h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>

    <div class="card bg-base-100 shadow-xl m-4">
        <figure>
            <!-- <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"
            alt="Shoes" /> -->
            <iframe src="https://www.facebook.com/plugins/video.php?height=316&href=https%3A%2F%2Fwww.facebook.com%2Fimagen.veracruz%2Fvideos%2F292959363839607%2F&show_text=false&width=560&t=0" width="560" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowfullscreen="true"></iframe>

        </figure>
        <div class="card-body">
            <h2 class="card-title">Shoes!</h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>

    
</main>

<!-- <h1>Oracion por whatsapp</h1>
<h1>Publicación de facebook</h1>

2 tarjetas grandes con bordes redondos
la de la horacion pues con un fondo con unacruz o algo
y la otra que sea un embed de la publicacion de los gatos del tio de eve -->