---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import { Icon } from 'astro-icon/components';
import AcordeonHorizontal from '../components/AcordeonHorizontal.astro';
import BtnAdoptar from '../components/BtnAdoptar.astro';
---

<Layout title="Gatitos en adopción">

<Banner />

<div class="text-center mb-10 card bg-base-100 shadow-slate-300 shadow-md max-w-screen-lg mx-auto max-md:mx-3 py-2">
    <h1 class="text-2xl md:text-4xl font-semibold">Nos encontramos en un lugar mejor ☁️</h1>
    <h2 class="text-xl md:text-3xl font-medium">Conoce nuestra <a href="/gatitos_eve/Historia" class="text-secondary">Historia</a></h2>
</div>

<AcordeonHorizontal items={[
    {
        title: 'MICHI1',
        subtitle: 'Adoptado el 12/07/24 por la familia Pérez. Facelleció el 15/07/24 por sus heridas.', 
        icon: 'wea',
        color: '#FF0000',
        bg_img : 'gatitosHorizontal.jpg'
    },
    {
        title: 'MICHI2',
        subtitle: 'Adoptado el 12/07/24 por la familia Pérez. Facelleció el 15/07/24 por sus heridas.',
        icon: 'wea',
        color: '#FF0000',
        bg_img : 'gatitosHorizontal.jpg'
    },
    {
        title: 'MICHI3',
        subtitle: 'Adoptado el 12/07/24 por la familia Pérez. Facelleció el 15/07/24 por sus heridas.',
        icon: 'wea',
        color: '#FF0000',
        bg_img : 'gatitosHorizontal.jpg'
    }
]} />

<div
  class="hero min-h-screen bg-eve">
  <div class="hero-overlay bg-opacity-0"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-lg">
      <h1 class="mb-5 text-5xl font-bold">Nancy Evelyn</h1>
      <p class="mb-5">
        Nos encontró en la calle, nos cuidó y nos alimentó. Hizo todo lo posible por darnos una vida digna y un nuevo hogar.
      </p>
      <BtnAdoptar />
    </div>
  </div>
</div>