---
import TiempoPasado from "./TiempoPasado.astro"
import Image from "astro/components/Image.astro"
---

<div class="card lg:card-side bg-base-100 shadow-xl max-w-7xl m-auto my-10">
    <figure>
        <Image src="/gatitos_eve//img/gatitos.jpg" alt="Gatitos en adopción" width={400} height={400} class="rounded-t-lg"/>
    </figure>
    <div class="card-body max-w-md  justify-items-center">
      
        <h1 class="card-title">Gatitas en adopción</h1>
        <p>Estos gatitos fueron encontrados en la calle, necesitan un hogar donde los quieran y cuiden. Las 3 son niñas.</p>

        <h2 class="text-lg font-semibold">Tiempo desde que nacimos - 03/07/24</h2>
        <TiempoPasado />

        <!-- <div class="card-actions">
            <button class="btn btn-primary">Listen</button>
        </div> -->
    </div>
  </div>