---
import TiempoPasado from "./TiempoPasado.astro"
import Image from "astro/components/Image.astro"
---

<div class="card lg:card-side bg-base-100 shadow-xl max-w-7xl m-auto my-10 hover:scale-105 transition-all">
    <figure>
        <Image src="/gatitos_eve//img/gatitos.jpg" alt="Gatitos en adopci贸n" width={400} height={400} class="rounded-t-lg"/>
    </figure>
    <div class="card-body max-w-md  justify-items-center">
      
        <h1 class="card-title">Gatitas en adopci贸n</h1>
        <p>Estos gatitas fueron encontrados en la calle, necesitan un hogar donde las quieran y cuiden. Una de ellas ya fue adoptada y otra falleci贸 por sus heridas. La madre las abandon贸 aun tenemos a una sin hogar. Contactanos si te interesa darle una vida digna y con amor.</p>

        <h2 class="text-lg font-semibold">Tiempo desde que nacimos - 03/07/24</h2>
        <TiempoPasado />

        <!-- <div class="card-actions">
            <button class="btn btn-primary">Listen</button>
        </div> -->
    </div>
  </div>