---
---


<script>
    setInterval(function(){
        const dateValue = Number((new Date("2024-07-03 09:00:00").getTime())) / 1000;
        const date = Math.abs(dateValue).toFixed(0);
        const currentDate = Math.abs((new Date()).getTime() / 1000).toFixed(0);

        const diff = Number(currentDate) - Number(date);

        const passedDays = Math.floor(diff / 86400);
        const passedHrs = Math.floor((diff / 3600) % 24);
        const passedMins = Math.floor((diff / 60) % 60);
        const passedSecs = diff % 60;
        //lo quiere en formato de 24hrs
        (document.getElementById("dias") as HTMLInputElement).value = passedDays.toString();
        (document.getElementById("horas") as HTMLInputElement).value = passedHrs.toString();
        (document.getElementById("minutos") as HTMLInputElement).value = passedMins.toString();
        (document.getElementById("segundos") as HTMLInputElement).value = passedSecs.toString();
    }, 1000);
</script>

<div class="stats stats-vertical lg:stats-horizontal shadow">

    <div class="stat max-w-44">
        <div class="stat-value"><input class="bg-base-100 max-w-20" type="text" id="dias" readonly="readonly" value="00"></div>
        <div class="stat-title">Días</div>
      </div>


    <div class="stat max-w-44">
      <div class="stat-value"><input class="bg-base-100 max-w-20" type="text" id="horas" readonly="readonly" value="00"></div>
      <div class="stat-title">Horas</div>
    </div>
    
</div>

<div class="stats stats-vertical lg:stats-horizontal shadow">
  
    <div class="stat max-w-44">
      <div class="stat-value"><input class="bg-base-100 max-w-20" type="text" id="minutos" readonly="readonly" value="00"></div>
      <div class="stat-title">Minutos</div>
    </div>
  
    <div class="stat max-w-44">
      <div class="stat-value"><input class="bg-base-100 max-w-20" type="text" id="segundos" readonly="readonly" value="00"></div>
      <div class="stat-title">Segundos</div>
    </div>
</div>